body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=password], input[type=email] {
    width: 75%;
    padding: 10px;
    margin: 3px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

label{
    width: 20%;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    background-color: #f44336;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 48%;
    margin-left: 1%;
    padding: 10px 14px;
    font-weight: bold;
}

.signupbtn:disabled{
    background-color: #93cf96;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.socialBtn.goog span {
    padding-left: 15px;
}

.socialLoginSec .btnCont .socialBtn em {
    background: url(/assets/images/socialIcon.png) no-repeat;
    position: absolute;
    left: 5px;
    top: 6px;
    width: 26px;
    height: 26px;
}

.socialLoginSec .btnCont .socialBtn em.gIc {
    background-position: 0 -26px;
}

.socialLoginSec .btnCont .socialBtn {
    background: #fff;
    color: #333;
    display: inline-block;
    padding: 12px 0;
    width: 130px;
    position: relative;
    border: 1px solid #bebebe;
}

.socialLoginSec .btnCont .socialBtn.fb span {
    padding-left: 20px;
}

.socialLoginSec .btnCont .socialBtn.fb {
    margin-right: 10px;
}

.socialLoginSec .btnCont {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.socialLoginSec {
    text-align: center;
    margin: 10px 0 15px;
}

.signupForm{
    margin: 3% 20% 0 20%;
    border: 1px solid #888;
    border-radius: .3rem;
}

.no-padding {
    padding: 0 !important;
}